<!DOCTYPE html>
<html>
<head>
    <title>Ext.NET Mobile MVC Examples</title>

    <link rel="stylesheet" href="@Url.Content("~/resources/css/KitchenSink-all.css?v=4.1.0.0")" />
    <link rel="stylesheet" href="@Url.Content("~/resources/css/main.css?v=4.1.0.0")" />

    <style>
        .links-menu {
            background-color: #2a333c;
        }

            .links-menu a {
                color: #b0bcc7;
                text-decoration: none;
            }
    </style>

    <script src="@Url.Content("~/resources/js/classes/StoreDemos.js?v=4.1.0.1")"></script>
    <script src="@Url.Content("~/resources/js/classes/SourceOverlay.js?v=4.1.0.0")"></script>
    <script src="@Url.Content("~/resources/js/main.js?v=4.1.0.0")"></script>

    <script>
        Ext.dataview.NestedList.override({
            doBack: function (me, node, lastActiveList, detailCardActive) {
                var layout = me.getLayout(),
                    animation = layout ? layout.getAnimation() : null;

                if (detailCardActive && lastActiveList) {
                    if (animation) {
                        animation.setReverse(true);
                    }

                    me.goToNode(node.parentNode); // This replaces the commented out code below

                    // This doesn't work as expected causing wrong navigation
                    // if a sample is opened via a direct link
                    // me.setActiveItem(lastActiveList);
                    // me.setLastNode(node.parentNode);
                    // me.syncToolbar();
                } else {
                    me.goToNode(node.parentNode);
                }
            }
        });
    </script>
</head>
<body>
    @Html.X().ResourceManager().Theme(Theme.Triton)

    @{
        // Preloading for smoother loading of Charts and Draw components
        ResourceManager.RegisterControlResources<DrawContainer>();
    }

    @(Html.X().Menu()
        .ID("LinksMenu")
        .Side(Direction.Right)
        .Cls("sidebar-menu")
        .Scrollable(ScrollableOption.Vertical)
        .WidthSpec("75%")
        .Items(
            Html.X().Component().Html("<a href='https://mobile.ext.net/'>Mobile Examples</a>"),
            Html.X().Component().Html("<a href='https://mvc.mobile.ext.net/'>MVC Mobile Examples</a>"),
            Html.X().Component().Html("<div class='separator'></div>"),
            Html.X().Component().Html("<a href='https://docs.sencha.com/extjs/6.0/'>EXT JS Documentation</a>"),
            Html.X().Component().Html("<a href='https://docs.ext.net/'>Ext.NET Documentation</a>"),
            Html.X().Component().Html("<div class='separator'></div>"),
            Html.X().Component().Html("<a href='https://forums.ext.net/'>Community Forums</a>"),
            Html.X().Component().Html("<a href='https://ext.net/faq/'>FAQ</a>"),
            Html.X().Component().Html("<a href='https://ext.net/contact/'>Contact</a>"),
            Html.X().Component().Html("<a href='https://ext.net/'>Ext.NET Home</a>"),
            Html.X().Button()
                .UI(ButtonUI.Action)
                .Text("Get Ext.NET")
                .OnClientTap("window.location='https://ext.net/store';")
        )
    )

    @(Html.X().NestedList()
        .ID("MainNestedList")
        .UseTitleAsBackText(false)
        .StoreID("Demos")
        .Title("Ext.NET Mobile MVC")
        .TemplateWidget(true)
        .Toolbar(Html.X().TitleBar()
            .ID("MainNavigationBar")
            .Cls("main-navigation-bar")
            .Docked(Dock.Top)
            .Items(
                Html.X().Button()
                    .ID("ViewSourceButton")
                    .Hidden(true)
                    .Align(TitleBarItemAlign.Right)
                    .UI(ButtonUI.Action)
                    .Text("Source"),

                Html.X().Button()
                    .ID("MenuButton")
                    .Align(TitleBarItemAlign.Right)
                    .IconCls("x-fa fa-navicon")
                    .MarginSpec("0 0 0 5")
            )
        )
    )
</body>
</html>